/** WRAPPER */

/** HEADER */

#header {
}

/** LOGO */

#logo {
	position: relative;
	float: left;
	/*width: 350px;*/
	/*height: 137px;*/
}

#logo h1 {
	line-height: normal;
	margin-top: 50px;
	margin-bottom: 16px;
	width: 420px;/*if make this too big, menu will disappear*/
	font-size: 20px;
	z-index: 4;

	/*text-indent: -9999em;*/
}

/*#logo h1 a {
	display: block;
	position: absolute;
	top: 30px;
	left: 0px;
	width: 350px;
	height: 137px;
	/*background: url(images/homepage02.jpg) no-repeat left top; */
}

/** MENU */

#menu {
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/** FOOTER */

#footer {
}
